{% extends "temp.html"%}
{% block title %}Developer's Club{% endblock %}
{% block body %}

    <div style="padding: 10% 38%;" class="text-center" data-new-gr-c-s-check-loaded="14.1045.0" data-gr-ext-installed="">
  <main class="form-signin">
    <form method="post">
      <h1 lass="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">Dev's Club</h1>
      <h1 class="h3 mb-3 fw-normal">Please Login</h1>
  
      <div class="form-floating" style="margin: 5%;">
        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating" style="margin: 5%;">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button  class="w-100 btn btn-lg btn-dark btn-lg" type="submit">Login in</button>
    </form>
  </main>
</div>

{% endblock %}