{% extends "temp.html"%}

{% block title %}Members{% endblock %}

{% block body %}

<table style="margin:10% 10%; width: 80vw;" class="table table-striped ">
  <thead>
    <tr class="table-dark">
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Branch</th>
      <th scope="col">Email</th>
      <th scope="col">Phone no.</th>
    </tr>
  </thead>
  <tbody>
    {% for data in all_data %}
    <tr>
      <td>{{data._id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.branch}}</td>
      <td>{{data.email}}</td>
      <td>{{data.number}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<br>

<a style="margin-left: 45%;" class="btn btn-dark"  href="{{url_for('home')}}">HOME</a>

{% endblock %}
